<%= turbo_frame_tag dom_id(journeyable, "journey_item_toggle"), class: 'journey_item_toggle' do %>
  <% if journey_item = journeyable.journey_items.where(id: current_person.journey_items.find_by(journeyable: journeyable)&.id).first %>
    <%= button_to journey_item_path(journey_item), method: :delete, form: { data: { turbo_stream: true } }, class: "journey-toggle", title: t('journey_items.tooltips.remove'), data: { bs_toggle: "tooltip" } do %>
      <span class="fa-stack">
        <i class="fas fa-circle fa-stack-2x text-danger"></i>
        <i class="fas fa-minus fa-stack-1x fa-inverse"></i>
      </span>
    <% end %>
  <% else %>
    <%= form_with model: JourneyItem.new, url: journey_items_path, method: :post, data: { turbo_stream: true }, local: false do |f| %>
      <%= f.hidden_field :journeyable_type, value: journeyable.class.base_class.name %>
      <%= f.hidden_field :journeyable_id, value: journeyable.id %>
      <%= f.hidden_field :journey_stage_id, value: journey_stage_id if local_assigns[:journey_stage_id].present? %>

      <%= f.button class: "journey-toggle", title: t('journey_items.tooltips.add'), data: { bs_toggle: "tooltip" } do %>
        <span class="fa-stack">
          <i class="fas fa-circle fa-stack-2x text-success"></i>
          <i class="fas fa-plus fa-stack-1x fa-inverse"></i>
        </span>
      <% end %>
    <% end %>
  <% end %>
<% end %>
