
<%# locals: (form:) %>
<div class="venue-images-fields nested-fields border-top py-3 my-3 row align-items-end" data-new-record="<%= form.object.new_record? %>">
  <h4><%= VenueImage.name.humanize %></h4>
  <%= form.hidden_field :_destroy %>

  <div class="col-md-12">
    <%= form.fields_for(:image) do |image_form| %>
      <!-- BetterTogether::Content::Image -->
      <%= render partial: 'better_together/content/blocks/fields/image', locals: { block: image_form.object, scope: image_form.object_name } %>
    <% end %>
  </div>

  <div class="col-4 col-md-2">
    <%= render partial: 'better_together/shared/fields/primary_flag', locals: { form:, primary_flag_scope: form.object.venue_id } %>
  </div>

  <div class="col-8 col-md-10 mt-3 mt-md-0">
    <%= link_to '#remove-venue-image', class: 'btn btn-outline-danger btn-sm', data: { action: 'click->better_together--dynamic-fields#remove' } do %>
      <i class="fas fa-minus"></i> <%= t('better_together.remove') %>
    <% end %>
  </div>
</div>
