<%= form_with(model: venue, class: 'form', multipart: true, id: dom_id(venue, 'form'), data: { controller: "better_together--form-validation better_together--tabs" }) do |form| %>
  <%= form.hidden_field :creator_id, value: current_person&.id unless form.object.creator_id %>
  <% content_for :resource_toolbar do %>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="<%= t('helpers.toolbar.aria_label') %>">
      <div class="btn-group me-2" role="group">
        <%= link_to t('venues.back_to_venues'), venues_path, class: 'btn btn-secondary' %>
      </div>
      <div class="btn-group me-2" role="group">
        <%= form.submit t('venues.save_venue'), class: 'btn btn-primary' %>
      </div>
      <div class="btn-group me-2" role="group">
        <%= link_to t('venues.view'), venue, class: 'btn btn-info' %>
      </div>
    </div>
  <% end %>

  <%= yield :resource_toolbar %>

  <% if venue.errors.any? %>
    <div class="alert alert-danger">
      <h4><%= t('helpers.errors.heading') %></h4>
      <ul>
        <% venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!-- Vertical Pills Navigation -->
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="venue-form-tabs" role="tablist" aria-orientation="vertical">
        <button class="nav-link active" id="venue-details-tab" data-bs-toggle="pill" data-bs-target="#venue-details" type="button" role="tab" aria-controls="venue-details" aria-selected="true" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.details') %>
        </button>
        <button class="nav-link" id="venue-buildings-tab" data-bs-toggle="pill" data-bs-target="#venue-buildings" type="button" role="tab" aria-controls="venue-buildings" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.buildings') %>
        </button>
        <button class="nav-link" id="venue-images-tab" data-bs-toggle="pill" data-bs-target="#venue-images" type="button" role="tab" aria-controls="venue-images" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.images') %>
        </button>
        <button class="nav-link" id="contacts-tab" data-bs-toggle="pill" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.contacts') %>
        </button>
        <button class="nav-link" id="stages-tab" data-bs-toggle="pill" data-bs-target="#stages" type="button" role="tab" aria-controls="stages" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.stages') %>
        </button>
        <button class="nav-link" id="venue-offers-tab" data-bs-toggle="pill" data-bs-target="#venue-offers" type="button" role="tab" aria-controls="venue-offers" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.offers') %>
        </button>
        <button class="nav-link" id="venue-offers-tab" data-bs-toggle="pill" data-bs-target="#venue-members" type="button" role="tab" aria-controls="venue-members" aria-selected="false" data-better_together--tabs-target="tab">
          <%= t('venues.tabs.members') %>
        </button>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-md-9 tab-content" id="venue-form-tabs-content">
      <!-- Venue Details Tab -->
      <div class="nav-tab-pane tab-pane fade show active" id="venue-details" role="tabpanel" aria-labelledby="venue-details-tab">
        <div class="row mb-3 row-cols-1 row-cols-sm-2">
          <!-- Translatable Name Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: venue, form: form, attribute: 'name' } %>
            <small class="form-text text-muted mt-2"><%= t('venues.hints.name') %></small>
          </div>

          <!-- Translatable Slug Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: venue, form: form, attribute: 'slug' } %>
            <small class="form-text text-muted mt-2"><%= t('venues.hints.slug') %></small>
          </div>

          <!-- Privacy Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= form.label :privacy, t('venues.labels.privacy') %>
            <%= privacy_field(form:, klass: Venue) %>
            <% if venue.errors[:privacy].any? %>
              <div class="invalid-feedback">
                <%= venue.errors[:privacy].join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <!-- Translatable Description Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: venue, form: form, attribute: 'description' } %>
            <small class="form-text text-muted mt-2"><%= t('venues.hints.description') %></small>
          </div>
        </div>
      </div>

      <!-- Venue Buildings Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-buildings" role="tabpanel" aria-labelledby="venue-buildings-tab">
        <div class="mb-3">
          <%= render partial: 'venue_buildings/venue_buildings', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Venue Images Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-images" role="tabpanel" aria-labelledby="venue-images-tab">
        <div class="mb-3">
          <%= render partial: 'venue_images/venue_images', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Contacts Tab -->
      <div class="nav-tab-pane tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <div class="mb-3">
          <%= render partial: 'better_together/contact_details/contacts', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Stages Tab -->
      <div class="nav-tab-pane tab-pane fade" id="stages" role="tabpanel" aria-labelledby="stages-tab">
        <div class="mb-3">
          <%= render partial: 'stages/stages', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Venue Offers Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-offers" role="tabpanel" aria-labelledby="venue-offers-tab">
        <div class="mb-3">
          <%= render partial: 'venue_offers/venue_offers', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Venue Members Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-members" role="tabpanel" aria-labelledby="venue-members-tab">
        <div class="mb-3">
          <%= render partial: 'venue_memberships/venue_memberships', locals: { form: } if venue.persisted? %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :resource_toolbar %>
<% end %>