<%= form_with(model: venue, class: 'form', multipart: true, id: dom_id(venue, 'form'), data: { controller: "better_together--form-validation better_together--tabs" }) do |form| %>
  <% content_for :resource_toolbar do %>
    <div class="btn-toolbar mb-3" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group me-2" role="group">
        <%= link_to "Back to Venues", venues_path, class: 'btn btn-secondary' %>
      </div>
      <div class="btn-group me-2" role="group">
        <%= form.submit "Save Venue", class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>

  <%= yield :resource_toolbar %>

  <% if venue.errors.any? %>
    <div class="alert alert-danger">
      <h4>Please correct the following errors:</h4>
      <ul>
        <% venue.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="row">
    <!-- Vertical Pills Navigation -->
    <div class="col-md-3">
      <div class="nav flex-column nav-pills" id="venue-form-tabs" role="tablist" aria-orientation="vertical">
        <button id="#venue-details-tab" class="nav-link active" id="venue-details-tab" data-bs-toggle="pill" data-bs-target="#venue-details" type="button" role="tab" aria-controls="venue-details" aria-selected="true" data-better_together--tabs-target="tab">
          Venue Details
        </button>
        <button id="#venue-buildings-tab" class="nav-link" id="venue-buildings-tab" data-bs-toggle="pill" data-bs-target="#venue-buildings" type="button" role="tab" aria-controls="venue-buildings" aria-selected="false" data-better_together--tabs-target="tab">
          Buildings
        </button>
        <button id="#venue-images-tab" class="nav-link" id="venue-images-tab" data-bs-toggle="pill" data-bs-target="#venue-images" type="button" role="tab" aria-controls="venue-images" aria-selected="false" data-better_together--tabs-target="tab">
          Images
        </button>
        <button id="#contacts-tab" class="nav-link" id="contacts-tab" data-bs-toggle="pill" data-bs-target="#contacts" type="button" role="tab" aria-controls="contacts" aria-selected="false" data-better_together--tabs-target="tab">
          Contacts
        </button>
      </div>
    </div>

    <!-- Tab Content -->
    <div class="col-md-9 tab-content" id="venue-form-tabs-content">
      <!-- Venue Details Tab -->
      <div class="nav-tab-pane tab-pane fade show active" id="venue-details" role="tabpanel" aria-labelledby="venue-details-tab">
        <div class="row mb-3 row-cols-1 row-cols-sm-2">
          <!-- Translatable Name Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: venue, form: form, attribute: 'name' } %>
            <small class="form-text text-muted mt-2">Enter the venue name.</small>
          </div>

          <!-- Translatable Slug Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_string_field', locals: { model: venue, form: form, attribute: 'slug' } %>
            <small class="form-text text-muted mt-2">Enter the venue username.</small>
          </div>

          <!-- Privacy Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= form.label :privacy %>
            <%= privacy_field(form:, klass: Venue) %>
            <% if venue.errors[:privacy].any? %>
              <div class="invalid-feedback">
                <%= venue.errors[:privacy].join(", ") %>
              </div>
            <% end %>
          </div>
        </div>

        <div class="row">
          <!-- Translatable Description Field -->
          <div class="col mb-3 pb-3 border-bottom">
            <%= render partial: 'better_together/shared/translated_rich_text_field', locals: { model: venue, form: form, attribute: 'description' } %>
            <small class="form-text text-muted mt-2">Enter a description for the venue.</small>
          </div>
        </div>
      </div>

      <!-- Venue Buildings Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-buildings" role="tabpanel" aria-labelledby="venue-buildings-tab">
        <div class="mb-3">
          <%= render partial: 'venue_buildings/venue_buildings', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Venue Images Tab -->
      <div class="nav-tab-pane tab-pane fade" id="venue-images" role="tabpanel" aria-labelledby="venue-images-tab">
        <div class="mb-3">
          <%= render partial: 'venue_images/venue_images', locals: { form: } if venue.persisted? %>
        </div>
      </div>

      <!-- Contacts Tab -->
      <div class="nav-tab-pane tab-pane fade" id="contacts" role="tabpanel" aria-labelledby="contacts-tab">
        <div class="mb-3">
          <%= render partial: 'better_together/contact_details/contacts', locals: { form: } if venue.persisted? %>
        </div>
      </div>
    </div>
  </div>

  <%= yield :resource_toolbar %>
<% end %>