<% content_for :page_title, @venue %>

<div class="container mt-4">
  <header class="mb-4 text-center">
    <h2 class="fw-bold"><%= @venue.name %></h2>
    <% if policy(@venue).edit? || policy(@venue).destroy? %>
      <div class="btn-toolbar justify-content-center mb-3" role="toolbar">
      <% if policy(@venue).edit? %>
        <div class="btn-group me-2" role="group">
        <%= link_to 'Edit', edit_venue_path(@venue), class: 'btn btn-warning btn-sm' %>
        </div>
      <% end %>
      <% if policy(@venue).destroy? %>
        <div class="btn-group" role="group">
        <%= link_to 'Delete', @venue, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-sm' %>
        </div>
      <% end %>
      </div>
    <% end %>

    <% if @venue.primary_address %>
      <p class="address">
        <%= (@venue.formatted_address + ' | ') if @venue.formatted_address.present? %><a href="#map" class="text-decoration-none">View on Map</a>
      </p>
    <% end %>

    <%= share_buttons(shareable: @venue) %>
  </header>

  <%= render_image_gallery(@venue.images, @venue.name) if @venue.venue_images.any? %>

  <section class="description my-4 pb-2">
    <div class="row">
      <div class="col-md-8">
        <div class="description pb-2">
          <h3 class="mb-3"><i class="fas fa-info-circle text-warning"></i> Venue Description</h3>
          <%= @venue.description.presence || 'Nothing yet' %>
        </div>

        <% if @venue.contacts.map(&:has_contact_details?).include?(true) %>
          <div class="contacts mt-4">
            <h3 class="mt-4 mb-3"><i class="fas fa-address-book text-warning"></i> Contacts</h3>
            <%= render partial: 'better_together/contact_details/about_section', locals: { contactable: @venue, include_heading: false } %>
          </div>
        <% end %>
      </div>
      <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-body">
            <h3 class="card-title"><i class="fas fa-list text-warning"></i> Quick Facts</h3>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><strong>Capacity:</strong> <%= @venue.capacity %></li>
              <li class="list-group-item"><strong>Sound Tech:</strong> <%= @venue.sound_tech.humanize %></li>
              <li class="list-group-item"><strong>Lighting Tech:</strong> <%= @venue.lighting_tech.humanize %></li>
              <li class="list-group-item"><strong>Accessible:</strong> <%= @venue.accessible.humanize %></li>
              <li class="list-group-item"><strong>Box Office:</strong> <%= @venue.box_office.humanize %></li>
              <li class="list-group-item"><strong>Ticket Sales:</strong> <%= @venue.ticket_sale_options.join(', ') %></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>

  <% if @venue.deal_types.any? || @venue.accommodations_provided.present? || @venue.accomodations_notes.present? || @venue.financial_notes.present? %>
    <section class="financial my-4 pb-2">
      <h3><i class="fas fa-dollar-sign text-warning"></i> Financial</h3>
      <% if @venue.deal_types.any? %>
        <p><strong>Types of deals:</strong> <%= @venue.deal_types.join(', ') %></p>
      <% end %>
      <p><strong>Accommodations provided:</strong> <%= @venue.accommodations_provided.humanize %></p>
      <% if @venue.accomodations_notes.present? %>
        <p><strong>Additional Accomodation Information:</strong> <%= @venue.accomodations_notes %></p>
      <% end %>
      <% if @venue.accomodations_notes.present? %>
        <p><strong>Additional Financial Information:</strong> <%= @venue.financial_notes %></p>
      <% end %>
    </section>
  <% end %>

  <% if @venue.marketing_support.present? %>
    <section class="marketing my-4 pb-2">
      <h3><i class="fas fa-bullhorn text-warning"></i> Marketing</h3>
      <p><%= @venue.marketing_support %></p>
    </section>
  <% end %>

  <% if @venue.equipment_list.present? %>
    <section class="equipment my-4 pb-2">
      <h3><i class="fas fa-tools text-warning"></i> Tech & Equipment</h3>
      <p><%= @venue.equipment_list %></p>
    </section>
  <% end %>

  <% if @venue.specs.present? || (@venue.tech_specs && policy(@venue.tech_specs).download?) || (@venue.stage_plot && policy(@venue.stage_plot).download?) || (@venue.seating_chart && policy(@venue.seating_chart).download?) %>
    <section class="resources-and-downloads my-4 pb-2">
      <h3><i class="fas fa-download text-warning"></i> Resources & Downloads</h3>
      <% if @venue.specs.present? %>
        <div class="accordion" id="specsAccordion">
          <div class="accordion-item">
        <h2 class="accordion-header" id="headingSpecs">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSpecs" aria-expanded="false" aria-controls="collapseSpecs">
            View Specs
          </button>
        </h2>
        <div id="collapseSpecs" class="accordion-collapse collapse" aria-labelledby="headingSpecs" data-bs-parent="#specsAccordion">
          <div class="accordion-body">
            <%= @venue.specs %>
          </div>
        </div>
          </div>
        </div>
      <% end %>
      <ul class="list-inline">
        <% if (@venue.tech_specs && policy(@venue.tech_specs).download?) %>
          <li class="list-inline-item">
            <a href="<%= download_file_url(@venue.tech_specs) %>" class="text-decoration-none">
              <i class="fas fa-arrow-alt-circle-down"></i> Tech Info
            </a>
          </li>
        <% end %>
        <% if (@venue.stage_plot && policy(@venue.stage_plot).download?) %>
          <li class="list-inline-item">
            <a href="<%= download_file_url(@venue.stage_plot) %>" class="text-decoration-none">
              <i class="fas fa-arrow-alt-circle-down"></i> Stage Info
            </a>
          </li>
        <% end %>
        <% if (@venue.seating_chart && policy(@venue.seating_chart).download?) %>
          <li class="list-inline-item">
            <a href="<%= download_file_url(@venue.seating_chart) %>" class="text-decoration-none">
              <i class="fas fa-arrow-alt-circle-down"></i> Seating Chart
            </a>
          </li>
        <% end %>
      </ul>
    </section>
  <% end %>

  <% if @venue.map&.spaces.any? %>
    <section id="map" class="my-4 pb-2">
      <h3><i class="fas fa-map-marker-alt text-warning"></i> Location Map</h3>
      <%= render partial: 'better_together/shared/map', locals: { map: @venue.map } %>
    </section>
  <% end %>
</div>