<%# locals: (block:, content:) %>

<% topics = [
  { key: 'employment', icon: 'fa-handshake' },
  { key: 'language', icon: 'fa-language' },
  { key: 'community', icon: 'fa-people-group' },
  { key: 'housing', icon: 'fa-house' },
  { key: 'immigration', icon: 'fa-passport' },
  { key: 'family', icon: 'fa-people-roof' },
  { key: 'insurance', icon: 'fa-umbrella' },
  { key: 'banking', icon: 'fa-building-columns' },
  { key: 'health', icon: 'fa-staff-snake' },
  { key: 'legal', icon: 'fa-scale-balanced' },
  { key: 'training', icon: 'fa-graduation-cap' },
  { key: 'transportation', icon: 'fa-car' },
  { key: 'entrepreneurship', icon: 'fa-lightbulb' }
] %>

<%= content_tag :div, id: dom_id(block), class: "journey-map content-block #{dom_class(block)}", data: { controller: 'journey-map' } do %>
  <div class="map-canvas <%= block.stage_colour %>">
    <% topics.each do |topic| %>
      <div class="journey-item <%= topic[:key] %>">
        <h3>
          <%= I18n.t("topics.#{topic[:key]}") %>
        </h3>
        <a href="<%= journey_map_topic_content_path(block, topic[:key]) %>" data-turbo="false" data-action="click->journey-map#loadContent">
          <div class="icon">
            <div class="fa-stack fa-2x mb-3" role="img" aria-label="<%= I18n.t("topics.#{topic[:key]}") %>">
              <!-- Background icon (gray) -->
              <i class="fas fa-circle fa-stack-2x text-dark icon-outline"></i>
              <i class="fas fa-circle fa-stack-2x text-light icon-bg"></i>
              <i class="fas <%= topic[:icon] %> fa-stack-1x icon-symbol"></i>
            </div>
          </div>
        </a>
      </div>
    <% end %>

    <%= image_tag image_url("journey_map/bg-#{block.stage_colour }.svg"), class: 'journey-bg' %>
    <%= image_tag image_url("journey_map/bg-mobile-#{block.stage_colour }.svg"), class: 'journey-bg mobile' %>
  </div>

  <div class="container journey-map-results">
    <div id="<%= dom_id(block, :pages) %>" class="journey-map-pages" data-journey-map-target="pages"></div>
    <div id="<%= dom_id(block, :resources) %>" class="journey-map-resources" data-journey-map-target="resources"></div>
    <div id="<%= dom_id(block, :partners) %>" class="journey-map-partners" data-journey-map-target="partners"></div>
  </div>
<% end %>
