<div class="container my-3">
  <h2 class="fw-light text-center mb-4">No matter the stage of your journey, we can guide you</h2>
  <div class="row row-cols-1 row-cols-md-3">
    <!-- Feature 1 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('pre-arrival') %>" class="card journey-stage pre-arrival hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Pre-Arrival</h4>
          <%= image_tag 'journey_stages/pre-arrival.svg', class: 'card-img-top mb-3', alt: 'Pre-Arrival Image' %>
          <button class="btn btn-info">Get ready to come to NL</button>
        </div>
      </a>
    </div>
    <!-- Feature 2 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('arrival') %>" class="card journey-stage arrival hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Arrival</h4>
          <%= image_tag 'journey_stages/arrival.svg', class: 'card-img-top mb-3', alt: 'Arrival Image' %>
          <button class="btn btn-info">Your first steps in NL</button>
        </div>
      </a>
    </div>
    <!-- Feature 3 -->
    <div class="col mb-3">
      <a href="<%= render_page_path('settlement') %>" class="card journey-stage settlement hover-effect mb-4 shadow-sm h-100 text-center">
        <div class="card-body">
          <h4 class="card-title">Settlement</h4>
          <%= image_tag 'journey_stages/settlement.svg', class: 'card-img-top mb-3', alt: 'Settlement Image' %>
          <button class="btn btn-info">Ready to settle in NL</button>
        </div>
      </a>
    </div>
  </div>
</div>
