
<%# locals: (form: nil) %>

<div class="venue-offer-ticket-sale-options mb-4" data-controller="better_together--dynamic-fields">
  <h5><%= VenueOfferTicketSaleOption.name.humanize.pluralize %></h5>

  <div id="<%= dom_id(form.object, :venue_offer_ticket_sale_options) %>" class="mb-3 row" data-better_together--dynamic-fields-target="container">
    <%= form.fields_for :venue_offer_ticket_sale_options, VenueOfferTicketSaleOption.new(venue_offer_id: form.object.id) do |venue_offer_ticket_sale_option_form| %>
      <%= render 'venue_offer_ticket_sale_options/fields', form: venue_offer_ticket_sale_option_form %>
    <% end %>
  </div>

  <!-- Hidden template -->
  <template data-better_together--dynamic-fields-target="template">
    <%# Build a new VenueOfferTicketSaleOption instance %>
    <%= form.fields_for :venue_offer_ticket_sale_options, form.object.venue_offer_ticket_sale_options.build, child_index: 'NEW_RECORD' do |venue_offer_ticket_sale_option_form| %>
      <%= render 'venue_offer_ticket_sale_options/fields', form: venue_offer_ticket_sale_option_form %>
    <% end %>
  </template>

  <%= link_to '#', class: 'btn btn-outline-primary btn-sm', data: { action: 'click->better_together--dynamic-fields#add' } do %>
    <i class="fas fa-plus"></i> <%= t('better_together.global.add') %>
  <% end %>
</div>
