
<%# locals: (form:) %>
<div class="stages-fields nested-fields my-3 row align-items-end" data-new-record="<%= form.object.new_record? %>">
  <h4><%= Stage.name.humanize %></h4>
  <%= form.hidden_field :_destroy %>
  <%= form.hidden_field :venue_id, value: form.object.venue_id %>

  <div class="col-md-12">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, class: 'form-control' %>
  </div>

  <div class="col-md-12">
    <%= form.label :equipment_list %>
    <%= form.text_area :equipment_list, class: 'form-control' %>
  </div>

  <div class="col-4 col-md-2">
    <%= render partial: 'better_together/shared/fields/primary_flag', locals: { form:, primary_flag_scope: form.object.venue_id } %>
  </div>

  <div class="col-8 col-md-10 mt-3 mt-md-0">
    <%= link_to '#', class: 'btn btn-outline-danger btn-sm', data: { action: 'click->better_together--dynamic-fields#remove' } do %>
      <i class="fas fa-minus"></i> <%= t('better_together.remove') %>
    <% end %>
  </div>
</div>
