
<%# locals: (form:) %>
<div class="stages-fields nested-fields my-3 row align-items-end" data-new-record="<%= form.object.new_record? %>">
  <h4><%= Stage.name.humanize %></h4>
  <%= form.hidden_field :_destroy %>
  <%= form.hidden_field :venue_id, value: form.object.venue_id %>

  <!-- Identifier text field -->
  <div class="col-12 mb-3">
    <%= form.label :identifier, "Identifier", class: "form-label" %>
    <%= form.text_field :identifier, class: "form-control#{' is-invalid' if form.object.errors[:identifier].any?}", maxlength: 100, placeholder: '(optional)' %>

    <% if form.object.errors[:identifier].any? %>
      <div class="invalid-feedback">
        <%= form.object.errors[:identifier].join(", ") %>
      </div>
    <% end %>
    <small class="form-text text-muted mt-2">
      You can enter an optional identifier to make it easier to identify the stage later. Should be not contain spaces and should be under 100 characters.
    </small>
  </div>

  <div class="col col-md-6 mb-3">
    <%= form.label :capacity, class: "form-label" %>
    <%= form.number_field :capacity, class: 'form-control' %>
  </div>

  <div class="col col-md-6 mb-3">
    <%= form.label :equipment_list, class: "form-label" %>
    <%= form.text_area :equipment_list, class: 'form-control' %>
  </div>

  <div class="col-12">
    <div class="row">
      <%= form.fields_for :tech_specs do |tech_specs_fields| %>
        <%= render partial: 'better_together/files/fields', locals: { form: tech_specs_fields, label: 'Tech Specs' } %>
      <% end %>

      <%= form.fields_for :stage_plot do |stage_plot_fields| %>
        <%= render partial: 'better_together/files/fields', locals: { form: stage_plot_fields, label: 'Stage Plot' } %>
      <% end %>

      <%= form.fields_for :seating_chart do |seating_chart_fields| %>
        <%= render partial: 'better_together/files/fields', locals: { form: seating_chart_fields, label: 'Tech Specs' } %>
      <% end %>
    </div>
  </div>

  <div class="col-4 col-md-2">
    <%= render partial: 'better_together/shared/fields/primary_flag', locals: { form:, primary_flag_scope: form.object.venue_id } %>
  </div>

  <div class="col-8 col-md-10 mt-3 mt-md-0">
    <%= link_to '#remove-stage', class: 'btn btn-outline-danger btn-sm', data: { action: 'click->better_together--dynamic-fields#remove' } do %>
      <i class="fas fa-minus"></i> <%= t('better_together.remove') %>
    <% end %>
  </div>
</div>
